{% extends "layout.html" %}

{% block content %}

    <h2>Request results for your favorite sport:</h2>
    <br>    

    <form action="/app/result" method="POST">

        <label><b>Choose Sport</b></label>
        <br>
        <br>
        <input type="radio" id="americanfootball_nfl" name="sport" value="americanfootball_nfl">
        <label for="html">American Football - NFL</label><br>
        <br>
        <input type="radio" id="americanfootball_ncaaf" name="sport" value="americanfootball_ncaaf">
        <label for="html">American Football - NCAA</label><br>
        <br>
        <input type="radio" id="baseball_mlb" name="sport" value="baseball_mlb">
        <label for="html">Baseball - MLB</label><br>
        <br>
        <input type="radio" id="basketball_wnba" name="sport" value="basketball_wnba">
        <label for="html">Basketball - WNBA</label><br>
        <br>
        <input type="radio" id="soccer_usa_mls" name="sport" value="soccer_usa_mls">
        <label for="html">Soccer - MLS</label><br>
        <br>
        <input type="submit" value="Show Me Da Money">
    </form>

{% endblock %}