{% extends "layout.html" %}

{% block content %}

    <h1>Welcome Home</h1>
    <br>

    <p><em>Feeling overwhelmed trying to keep up with the latest updates from your favorite teams?</em></p>
        <p><em>Forget when and where your team is playing next?</em></p>
            <p><em>Having trouble keeping up with the latest box scores and stats?</em></p>
                <p><em>Want a quick and easy way to check scores and upcoming games?</em></p>
                <br>
    <p>For sports fans who love their teams and want to stay up to date, but have busy schedules, our new technology will be the perfect addition to their morning routines. Quickly enter your league of choice to get a summary of upcoming games, recent box scores and betting odds.</p>
    <br>
    <p>Creators: Kyle Arbadji, Ashlin Kneeland, Liam Rich, Sri Pisupati</p>

{% endblock %}